<h2><%= @sub.title %></h2>
<p>Description</p>
<%= @sub.description %>
<br>

<ul>
  <% @sub.posts.each do |post| %>
    <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
  <% end %>
</ul>

<a href="<%= new_post_url %>">Make New Post!</a>
<a href="<%= subs_url %>">Back to subs</a>
<% if @sub.moderator == current_user %>
  <a href="<%= edit_sub_url(@sub) %>">Edit</a>
<% end %>
