<h2>New Post</h2>

<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="post[sub_id]" value="<%= params[:sub_id]%>">
  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <label>URL
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>

  <label>Content
    <textarea name="post[content]">
      <%= @post.content %>
    </textarea>
  </label>

  <ul>
    <% Sub.all.each do |sub| %>
      <li><input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>"> <%= sub.title %></li>
    <% end %>
  </ul>

  <input type="submit" value="Create New Post">
</form>